{% extends 'blog/base.html' %}

{% block title %}
    <title>My super juesy bloh</title>
{% endblock %}

{% block content %}
    {% for post in posts %}
        <div>
            <h3><a href="{% url 'post_detail' post.id%}"> {{ post.title }} </a></h3>
            <div class="date">
                <p>Дата публикации: {{ post.published_date }}</p>
                <p>Автор: {{ post.author }}</p>
            </div>
            <!-- Почему-то не работают более правильные методы-->
            <p>
                {{ post.text|linebreaksbr }}
            </p>
        </div>
    {% endfor %}
{% endblock %}